<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Not Found</title>
  </head>

  <body>
    <div class="page-container">
      <div class="container">
        <img src="/images/404.png" alt="404 page not found" width="300px" srcset="" />
        <h1>Page Not Found</h1>
        <p>Make sure the address is correct</p>
      </div>
    </div>
  </body>
</html>
