.card {
  border: 0;
  border-radius: 0;
}
.card-header {
  background-color: 0 !important;
  border-radius: 0;
}
.profileImg {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.userName {
  color: #0051a9;
  display: inline-block;
}
.postImg {
  display: flex;
  height: 330px;
  position: relative;
}
.shade {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
}
.imgText {
  width: 100%;
  color: aliceblue;
  position: absolute;
  bottom: 0%;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 0px;
}
.favIcon {
  position: absolute;
  bottom: 25%;
  right: 1.2rem;
  font-size: 2.1rem;
  color: #27222294;
}
.cardTitle {
  color: #e9ecefd9;
  margin-left: 1rem;
}
.cardPrice {
  font-weight: 700;
  margin-left: 1rem;
}
.likes {
  color: #0062cc;
}

.card-body {
  padding: 0.8rem;
}
.likeIcon {
  font-size: 1.3rem;
}
.likeText {
  display: inline-block;
  margin-left: 0.6rem;
}

.discription {
  color: #343a408c;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}
.tages {
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
}
.commentsBtn {
  font-size: 0.8rem;
  color: #adb5bd;
  margin: 0;
  padding: 0;
}

.commentsBtn:hover {
  text-decoration: underline;
}
.commentsContainer {
  display: flex;
}
.commentsContainer > div {
  margin-left: 1rem;
}
.commentImg {
  border-radius: 50%;
}
.commentTxt {
  display: inline-block;
  color: #909396;
  font-size: 0.9rem;
}
.commentName {
  color: #0051a9;
  font-size: 0.8rem;
}
.commentTime {
  font-size: 0.6rem;
  color: #adb5bd;
}
.nameContainer {
  margin: 0 10px;
}
.nameContainer > p {
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
  color: gray;
}
